/* Copyright 2018 Simon Marquis */

html {
  width:100vw;
  overflow-x:hidden;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#logo {
  width: 60px;
  height: 60px;
  padding: 0px;
}

#title {
  line-height: 110%;
}

#subtitle {
  font-size: 70%;
}

#loader {
  margin: 5rem auto;
}

#apps-cards {
  margin-right: 0;
  margin-left: 0;
  min-height: 12rem;
}

#apps-cards > .col {
  padding-right: 0;
  padding-left: 0;
}

.flex-03 {
  flex: 0.3 !important;
}

.flex-04 {
  flex: 0.4 !important;
}

.card-img-wrapper {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.bi-size-25 {
  width: 25px;
  height: 25px;
}

/* Add effects on Cards */
.card-selectable {
  cursor: pointer;
}
.card-selectable:hover {
  background-color: #f8f9fa;
}
.card-selectable:active {
  background-color: #e9ecef;
}

/* Empty divs should not be displayed */
[data-app-versions]:empty, p[data-app-description]:empty, p[data-version-description]:empty {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pre-wrap {
  white-space: pre-wrap;
}

.no-wrap-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
}

.drop-ignore-children * {
  pointer-events: none;
}

.remove-bottom-margin-on-last-item > :last-child {
  margin-bottom: 0px;
}

/* Remove ugly blue tint of dropdown items */
.dropdown-item:active {
  background-color: #e9ecef;
}